.body-center{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.body-center-reverse{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid #cecece;
}

.body-column{
    flex: 3.5;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.body-column-reverse{
    flex: 3.5;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}


.body-column-card{
    display: flex;
    flex-direction: column;
}

.body-column-card-reverse{
    display: flex;
    flex-direction: row-reverse;
    font-size:80%;
    padding: 10px;
}

.body-center .body-column-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
}

.body-center .body-column-card img{
    border-radius: 10px;
}
 
 .body-center .body-column-card span{
    color: purple;
}

/**/
.body-center .body-column-card-right{
    width: auto; 
    flex: 2;
}

.body-center .body-column-card-left{
    width: auto; 
    flex: 1.5;

}

.body-center .body-column-card-left img{
   border-radius: 10px;

}

.body-column-card-right-wrapper{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.body-center .body-column-card-right-wrapper-title{
    color: purple;
    font-weight: 900;
}
.body-center .body-column-card-right-wrapper-body{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 900;
}

.body-center .body-column-card-right-wrapper-body h3{
    color: #4e4e4e;
}

.body-center .body-column-card-right-wrapper-footer{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 40px;
}

/**/
.body-center .body-column-card-carrossel{
    background-image: url('https://serraelitoral.com.br/hf-conteudo/uploads/posts/2022/04/3211_bbb22-170422-234432-webp.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    color: white;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.body-column-card-carrossel-footer{
    position: absolute;
    bottom: 0;
    background: #4848a1;
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

.body-column-card-carrossel h3{
    color: white;
    margin-top: 7px;
}

.body-column-card-carrossel-btn{
    float: right;
    margin-right: 20px;
}

.body-column-card-carrossel-btn button{
    color: white;
    width: 30px;
    margin: 7px;
}




