


.info{
    /* border: 2px solid red; */
    display: block;
    padding: 10px;
}

.info .horoscopo h3{
    padding-bottom: 10px;
    color: #616161;
}

.info .horoscopo h4{
    padding-bottom: 10px;
    padding-top: 10px;
    color: #2929b4;
}

.info .horoscopo p{
    color: #616161;
}

.info .mega h3{
    padding-bottom: 10px;
}

.info-up{
    /* border: 2px solid red; */
    margin: 5px;
}

.horoscopo{
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    text-align: center;
    padding: 20px;
}

.info-down{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 5px;

}

.bolsa{
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);    
    text-align: center;
    padding: 20px;
    flex: 3.5;
    min-width: 300px;
}

.info .bolsa h3{
    padding-bottom: 10px;
    color: #616161;
}

.bolsa-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.bolsa-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:right;
    margin-top: 20px;
    /* font-size: 14px; */
}

.bolsa-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:left;
    margin-top: 20px;
    /* font-size: 14px; */
    margin-left: 5px;
    color: #616161;
}

.mega{
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    text-align: center;
    padding: 20px;
    flex: 2;
    min-width: 250px;
}

.info .mega h3{
    padding-bottom: 10px;
    color: #616161;
}

.mega-grid{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 1px;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.mega-item{
    border: 2px solid #045204;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.mega-number{
    margin-top: 8px;
    color: #045204;
}