.intro{
    display: grid;
    grid-template-columns: auto 450px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;
}

.intro-title h3{
    font-size: 18px;
    color: #a50f98;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}

.intro-left{
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
}

.intro-left img{
    border-radius: 10px;
}

.intro-right-carrossel{
    max-width: 300px;
    height: auto;
    background: #ad223e;
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin-top: 20px;
}

.intro-right-carrossel-wrapper{
    /* padding: 10px; */
    /* border: 3px solid yellow; */

}

.intro-right-carrossel-wrapper span{
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
}

.intro-right-carrossel-wrapper h1{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}

.intro-right-carrossel-wrapper p{
    color: #ffffff;
    font-size: 13px;
    padding-bottom: 3rem;
    margin-top: 10px;
}

.intro-right{
    display: grid;
    grid-template-columns: 220px 220px;
    justify-content: flex-end;
    gap: 5px;
    flex-direction: row;
    margin-top: 10px;
}

.intro-left img{
    border-radius: 10px;
    margin-top: -10px;
}

.intro-right-card-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.intro-right-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.intro-right-card img{
    border-radius: 10px;
}

.intro-right-card h2{
    font-size: 20px;
}

.intro-right-card-span1{
    color: #008000;
}

.intro-right-card-span2{
    color: #c72143;
}

