@media (max-width: 1000px){

    /* ********************************* */
    /*Header  */
    header{
        display: flex;
        justify-content: space-between;
    }
    header input, .header-weather{
        display: none;
    }
    .header-center{
        margin-right: 0px;
        margin-left: 20px;
    }
     
    header .header-right .icon-user img{
        width: 40px;
        height: 40px;
    }
    header .header-bell img{
        display: none;
        width: 20px;
        height: 20px;
    }
    header .header-bell .ball-red{
        display: none;
    }

    /* ********************************* */
    /* Intro */
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Intro left */
    .intro-left{
        flex: 2.5;
    }

    .intro-left{
        display: grid;
        grid-template-columns: auto 120px;
        align-items: center;
        width: 80%;
    }

    .intro-left img{
        margin-top: 10px;
    }

    .intro-right-carrossel-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    /* Intro right */
    .intro-right{
        flex: 5.5;
    }
    
    .intro-right img{
        width: 150px;
        height: 150px;
    }

    /* ********************************* */

    /* Centro */
    .body-center{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .body-column{
       /* border: 2px solid red; */
    }

    .body-column-card{
        /* border: 2px solid red; */
        font-size: 80%;
    }

    /* ********************************* */

    .body-center .body-column-card-carrossel{
        width: 80%;
        height: 300px;
    }

    /* ********************************* */

    .body-videos{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }

    .box-videos-card{
        width: auto;
        height: auto;
    }
    
    .box-videos-card img{
        width: 100%;
        height: 100%;
    }

    .box-videos-minute{
       right: 10%;
    }

    /* ********************************* */

    .info-down{
        /* border: 2px solid red; */
        justify-content: space-around;

    }
}

@media (max-width: 860px){

    /* ********************************* */
    /*INTRO */
    

    /* ********************************* */
    /*Topbar */
    .topbar ul{
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .topbar ul li{
        margin: 10px;
        flex-wrap: nowrap;
        padding: 2px;
        font-size: 13px;
    } 

    /* ********************************* */
    /* INTRO */
    .intro-right-card{
        padding: 5px;
        width: 180px;
    }
    .intro-right-card img{
        margin: auto;
    }
    .intro-right-card span{
       margin: 5px;
    }
    .intro-right-card h2{
        font-size: 16px;
        margin: 5px;
    }
    .intro-right img{
        width: 150px;
        height: 150px;
    }
    /*Carrossel*/
    .intro-right-carrossel{
        width: 70%;
        height: 100%;
        margin: auto;
    }
    .intro-right-wrapper{
        display: flex;
        flex-direction: column;
        width: auto;
    }


    /* ********************************* */
    /* Centro */
    .body-column-card{
        /* border: 2px solid red; */
        /* font-size: 80%; */
    }

    .body-column-card h3, p{
        /* border: 2px solid red; */
        font-size: 90%;
    }

    /* ********************************* */
    /* Carrossel - Aside */
    .body-center .body-column-card-carrossel{
        width: 80%;
        height: 300px;
    }



    /* ********************************* */
    /* Carrossel - Videos */
    .body-videos{
        display: flex;
        flex-direction: column;
    }
    .box-videos-minute{
        right: 20%;
    }

    /* ********************************* */
    /* INFO - Videos */
    .info-down{
        display: flex;
        flex-direction: column;

    }
}

@media (max-width: 760px){

    .intro{
        display: flex;   
    }

    .intro-left{
        display: flex;
        flex-direction: column;
    }


    .intro-right-carrossel{
       position: static;
       width: auto;
       height: auto;
    }

    .intro-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px){
    
}