.body-videos{
    display: flex;
    justify-content: center;
}

.title-videos{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    color: #535353;
}

.title-videos::after{
    content: "";
    width: 80%;
    height: 2px;
    background: #535353;
    margin-top: 10px;
}

.title-videos span{
    flex: 1.5;
   
}

.title-videos hr{
    flex: 3.5;
    max-width: 85%;
}

.box-videos{
    display: flex;
    flex-direction: row;
}

.box-videos img{
    border-radius: 10px;
}

.box-videos-minute{
    border-radius: 20px;
    position: absolute;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    color: white;
    right: 0;
    margin-right: 10px;
    margin-top: 20px;
}

.box-videos-icon-play{
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -35px;
    margin-left: 20px;
    background: white;
}

.box-videos-icon-play img{
    width: 100%;
    color: white;
}

.box-videos-card{
    width: 250px;
    margin: 20px;
    position: relative;
}

.box-videos img{
    width: 100%;
}

.box-videos-card h4{
    margin-top: 20px;
}

.box-videos-card p{
    padding-top: 10px;
    color: #535353;
}