.intro{
    display: grid;
    grid-template-rows: auto auto;
}

.intro-title h3{
    font-size: 18px;
    color: #d317c3;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}

.intro-left{
    width: 500px;
    height: 350px;

}

.intro-left img{
    border-radius: 10px;
    margin-top: -10px;
}

.intro .intro-right{
    position: absolute;
    top: 35%;
    right: 0;
    margin-right: 5%;
}

.intro-right-wrapper{
    display: grid;
    grid-template-columns: auto 230px 230px;
    gap: 10px;
}

.intro-right-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.intro-right-card img{
    border-radius: 10px;
}

.intro-right-card h2{
    font-size: 20px;
}

.intro-right-card-span1{
    color: #008000;
}

.intro-right-card-span2{
    color: #ffa500;
}

.intro-right-carrossel{
    max-width: 350px;
    height: 280px;
    background: #c72143;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.intro-right-carrossel-wrapper{
    padding: 10px;
}

.intro-right-carrossel-wrapper span{
    color: #eeeeee;
    font-size: 15px;
}

.intro-right-carrossel-wrapper h1{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
}

.intro-right-carrossel-wrapper p{
    color: #eeeeee;
    font-size: 14px;
}



.intro-right-carrossel-wrapper-footer{
    float: right;
    margin-top: 30px;
}

.btn-enable{
    color: white;
    width: 30px;
    margin: 5px;
    margin-top: 25px;
}

.btn-desable{
    color: gray;
    width: 30px;
    margin: 10px;
    margin-top: 20px;
    border-bottom: 2px solid gray;
}