@media (max-width: 860px){
      
}

@media (max-width: 860px){

    header input, .header-weather{
        display: none;
    }

    .topbar ul{
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .topbar ul li{
        margin: 10px;
        flex-wrap: nowrap;
        padding: 2px;
    } 

    .intro .intro-right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: initial;
        /* display: block;
        flex-direction: column;
        position: sticky;
        top: 0;
        right: 0;
        margin-right: 0; */
        border: 2px solid red;
    }

    .intro-left img{
        width: 100%;
    }

    .intro-right-carrossel{
        /* border: 2px solid yellow; */
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }

    .intro-right-wrapper{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        width: auto;
    }
}